@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Prompt', sans-serif;
  margin: 0;
  padding: 0;
}

.screen {
  min-height: 100vh;
  align-items: center;
  /* Center and scale the image nicely */
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.window-padding {
  padding-top: 20px;
}

.toilets-section {
  padding: 0 5rem;
  display: flex;
  flex-wrap: wrap;
}
.allcard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  width: 100%;
}

.toilet-card-border {
  background-color: rgba(0, 0, 0, 0.1);
  color: #000;
  padding: 10px;
  border-radius: 20px;
  height: 400px;
  width: 300px;
  gap: 20px;
  transition-duration: 1s;
}

.toilet-card-border:hover {
  transform: scale(1.05);
  transition-duration: 1s;
}

.toilet-card {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  background-color: white;
  padding: 15px;
  height: 92%;
}

.toilet-card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.toilet-card .toilet-card-title {
  text-align: center;
  margin-bottom: 100px;
}

.toilet-card .toilet-card-time h3 {
  text-align: center;
  margin-bottom: 0;
}

.toilet-card .toilet-card-time h2 {
  margin-top: 0;
  text-align: center;
}

.toilet-card .toilet-card-elapsed h3 {
  text-align: center;
  margin-bottom: 0;
}

.toilet-card .toilet-card-elapsed h2 {
  text-align: center;
  margin-top: 0;
}
.pic-only {
  height: 200px;
}
.time {
  text-align: center;
  flex: 0 0 100%;
}
.timer {
  padding-bottom: 20px;
}
